<div class="app.wrapper">
	<div class="section no-pad-bot app-content" id="app-content"
		 smooth-scroll>
		<div class="phone"></div>
		<div class="container screen">
			<!--APP DETAIL-->
				<div class="row">
					<div class="app-icon-big" 
						style="background-image: url(img/icons/{{app.icon}})"></div>
					<div class="app-header-big">
						<h5 class="app-title">{{app.name}}</h5>
					</div>
				</div>

				<div class="row">
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s3" >
								<a class="active" ng-click="tabChanged(this)" href="#tab1">
									Info
								</a>
							</li>
							<li class="tab col s3">
								<a class="active" ng-click="tabChanged(this)" href="#tab2">
									Reviews
								</a>
							</li>
							<li class="tab col s3">
								<a href="#tab3" ng-click="tabChanged(this)">
									Privacy
								</a>
							</li>
						</ul>
					</div>
					<div id="tab1" class="col s12">
						<br/>
						<div class="desc">{{app.description}}</div>
					</div>
					<div id="tab2" class="col s12">
						<br/>
						<div class="review" ng-repeat="review in app.reviews track by $index">
							{{review}}
						</div>
					</div>
					<div id="tab3" class="col s12">
						<div class="noeye-icon" ng-if="type==2"></div>
						<div class="eye-icon" ng-if="type==3"></div>
						<div class="policy" ng-if="type==0||type==2">
							{{app.privacy.policy.positive}}
						</div>
						<div class="policy" ng-if="type==1">
							{{app.privacy.policy.negative}}
						</div>
						<div class="share-view" ng-if="type==3">
							<div class="row s12">
								<div class="col s1"></div>
								<div class="col s11">
									This app may share your data with:
								</div>
							</div>
							<div class="row s12 valign-wrapper">
								<div class="col s1"></div>
								<div class="share-icon third-parties col s3"></div>
								<div class="share-text col s8 valign">Third Parties</div>
							</div>
							<div class="row s12 valign-wrapper">
								<div class="col s1"></div>
								<div class="share-icon developpers col s3"></div>
								<div class="share-text col s8 valign">Developers</div>
							</div>
							<div class="row s12 valign-wrapper">
								<div class="col s1"></div>
								<div class="share-icon academic col s3"></div>
								<div class="share-text col s8 valign">Academic Research Institutions</div>
							</div>
							<div class="row s12 valign-wrapper">
								<div class="col s1"></div>
								<div class="share-icon friends col s3"></div>
								<div class="share-text col s8 valign">Friends of Friends</div>
							</div>
						</div>
					</div>
				</div>


			<!--END APP DETAIL-->
		</div>
	</div>
</div>