<div class="app.wrapper">
	<div class="section no-pad-bot app-content" id="app-content"
		 smooth-scroll>
		 <div class="container">App #{{appId+1}} out of {{appsToDownload}} apps</div>
		<div class="phone"></div>
		<div class="container screen">
			<!--APP DETAIL-->

				<div class="row">
					<div class="app-icon-big" 
						style="background-image: url(img/icons/{{app.icon}})"></div>
					<div class="app-header-big">
						<h6 class="app-title">{{app.name}}</h6>
						<div ng-if="studyType==2||studyType==3">
							<div>Privacy Critics Rating</div>
							<div class="app-desc">
								<span ng-class="{'privacy-rate-no': (i>=app.privacy.level) }" 
									class="privacy-rate" ng-repeat="i in [0,1,2,3,4]">
								</span>
							</div>
						</div>
					</div>
				</div>


				<div class="row">
					<div class="col s12">
						<ul class="tabs">
							<li class="tab col s3" >
								<a class="active" ng-click="tabChanged(this)" href="#tab1">
									Info
								</a>
							</li>
							<li class="tab col s3">
								<a class="active" ng-click="tabChanged(this)" href="#tab2">
									Reviews
								</a>
							</li>
							<li class="tab col s3" ng-if="studyType==4||studyType==3">
								<a href="#tab3" ng-click="tabChanged(this)">
									Privacy
								</a>
							</li>
						</ul>
					</div>
					<div id="tab1" class="col s12">
						<br/>
						<div class="desc">{{app.description}}</div>
					</div>
					<div id="tab2" class="col s12">
						<br/>
						<div class="review" ng-repeat="review in app.reviews track by $index">
							{{review}}
						</div>
					</div>
					<div id="tab3" class="col s12" ng-if="studyType==4||studyType==3">
						<br/>
						<div class="policy" >{{app.privacy.policy}}</div>
					</div>
				</div>


			<!--END APP DETAIL-->
		</div>
	</div>
	<div class="section no-pad-bot app-survey">
		<div class="survey">
			<div class="section">
				<div class="container">
					<div class="row">
						<h4 class="question-number bold">Question {{survey.show+1}} out of {{survey.questions.length}}</h4>
						<h4 class="question center">{{survey.questions[survey.show].text}}</h4>
					</div>	
					<div class="row center">
						<!--Type 0-->
						<form id="{{'q'+survey.show}}" 
							action="#" ng-if="survey.questions[survey.show].type == 0">
						    <p ng-repeat="answer in survey.questions[survey.show].answers track by $index">
						    	<input id="{{'a'+$index}}" index="{{$index}}" 
						    		name="{{'q'+survey.show}}" type="radio"/>
						    	<label for="{{'a'+$index}}">{{answer}}</label>
						    </p>
						</form>

						<!--Type 1-->
						<form id="{{'q'+survey.show}}" 
							action="#" ng-if="survey.questions[survey.show].type == 1">
						    <p ng-repeat="answer in survey.questions[survey.show].answers track by $index">
						    	<input id="{{'a'+$index}}" index="{{$index}}" 
						    		name="{{'q'+survey.show}}" type="checkbox"/>
						    	<label for="{{'a'+$index}}">{{answer}}</label>
						    </p>
						</form>

						<!--Type 2-->
						<div class="row" ng-if="survey.questions[survey.show].type == 2">
							<form ng-repeat="answer in survey.questions[survey.show].answers track by $index" id="{{'q'+survey.show}}" action="#" >
								<p>{{answer}}<p/>
								<p>
									<span ng-repeat="option in survey.questions[survey.show].options track by $index">
										<input id="{{'a'+$parent.$index+'-'+$index}}" 
											index="{{$index}}" pindex="{{$parent.$index}}" 
											name="{{'q'+survey.show+'-'+$parent.$index}}" type="radio"/>
						    			<label for="{{'a'+$parent.$index+'-'+$index}}">{{option}}</label>
									</span>
								<p/>
							</form>
						</div>

						<br>
						<div class="btn-large waves-effect waves-light green darken-1" 
							ng-click="survey.submit()">Submit</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>