<div class="app.wrapper">
	<nav class="light-blue darken-4 app-header" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Logo</a>
		</div>
	</nav>
	<div ng-if="!app" 
		class="section no-pad-bot app-content" id="app-content"
		 smooth-scroll>
		<div class="container">
			<div class="row" ng-repeat="category in Apps.categories">
				<market-apps name="category.name" cid="category.id"
					apps="Apps.apps">
				</market-apps>
			</div>
		</div>
	</div>
	<div ng-if="app" 
		class="section no-pad-bot app-content" id="app-content"
		 smooth-scroll>
		<div class="container">
			<div class="row">
				<a class="waves-effect light-blue lighten-2 btn" href="#/app">
					back
				</a>
			</div>
			<div class="row">
				<div class="app-icon-big" 
					style="background-image: url(img/icons/{{app.icon}})"></div>
				<div class="app-header-big">
					<h3 class="app-title">{{app.name}}</h3>
					<div>
						<div>Privacy Critics Rating</div>
						<div class="app-desc">
							<span ng-class="{'privacy-rate-no': (i>=app.privacy.level) }" 
								class="privacy-rate" ng-repeat="i in [0,1,2,3,4]">

							</span>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<h4>Privacy Policy</h4>
				{{app.privacy.policy}}
			</div>
			<div class="row">
				<h4>App Description</h4>
				{{app.description}}
			</div>
			<div class="row center">
				<a class="waves-effect waves-light btn" ng-click="download()">
					Download App
				</a>
				<a class="waves-effect red lighten-2 btn" ng-click="reject()">
					I don't Trust this App
				</a>
			</div>
		</div>
	</div>
	<footer class="page-footer app-footer green darken-4">
		<div class="container">
		Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		</div>
	</footer>
</div>