<div class="home">
	<nav class="light-blue darken-4" role="navigation">
		<div class="nav-wrapper container">
			<a id="logo-container" href="#" class="brand-logo">Logo</a>
		</div>
	</nav>
	<div class="section no-pad-bot" id="index-banner">
		<div class="container">
			<br><br>
			<br><br>
			<h1 class="header center light-blue-text darken-1">Instructions</h1>
			<div class="row center">
				<h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper, nisl quis eleifend imperdiet, odio ipsum ultrices leo, eget interdum neque ipsum convallis neque. Morbi euismod ac tellus vel finibus. Donec nec sodales nulla. Nullam dolor tortor, euismod eget blandit sed, semper eu neque. Nullam venenatis semper justo. Suspendisse vel metus luctus, viverra eros a, porttitor ante. Curabitur ac posuere nibh. Nulla tempor metus a massa efficitur, quis aliquet eros commodo. Duis gravida, nulla id maximus semper, ante nisl lobortis libero, eu consectetur neque ex egestas elit. Fusce ornare et risus eleifend fringilla. Nulla arcu neque, porta ac odio ut, lacinia ultrices justo. In dictum consectetur ex, molestie posuere orci malesuada vel. In sit amet semper enim.</h5>
			</div>
			<div class="row center">
				<a href="#/app" id="download-button" class="btn-large waves-effect waves-light green darken-1">Get Started</a>
			</div>
			<br><br>
			<br><br>
		</div>
	</div>

	<footer class="page-footer green darken-3">
		<div class="container">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">Company Bio</h5>
					<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Settings</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
				<div class="col l3 s12">
					<h5 class="white-text">Connect</h5>
					<ul>
						<li><a class="white-text" href="#!">Link 1</a></li>
						<li><a class="white-text" href="#!">Link 2</a></li>
						<li><a class="white-text" href="#!">Link 3</a></li>
						<li><a class="white-text" href="#!">Link 4</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-copyright green darken-4">
			<div class="container">
			Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
			</div>
		</div>
	</footer>

	<div class="hiddendiv common">
	</div>
	<div class="drag-target" style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
	</div>
</div>