/* app css stylesheet */
html , html body {
 	margin: 0;
	font-size: 16px;
	min-height: 100%;
	height: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	word-break: keep-all!important;
}

body {
	height: 100%;
	width: 100%;
}

.bold {
	font-weight: bold;
}

.market-apps ul {
    padding: 0;
    list-style-type: none;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
}

.market-apps .apps-wrapper {
	overflow-x: auto;
}

.market-apps ul li {
    display: inline;
}

.app-preview {
	margin-left: 25px;
	display: inline-block;
	width: 120px;
	text-align: center;
	cursor: pointer;
}


.review {
	padding-bottom: 10px;
}

.app-icon , .app-icon-big {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
	background-color: #FFFFFF;
	width: 100px;
	height: 100px;
	border-radius: 20px;
	border: 2px solid #EEEEEE;
	margin-bottom: 5px;
}

.app-icon-big {
	width: 80px;
	height: 80px;
	display: inline-block;
	margin-left: 5px;
}

.tabs .tab a {
	font-size: 0.7em;
}

.app-header-big {
	vertical-align: top;
	display: inline-block;
	width: 128px;
}
.app-header-big .app-title {
	font-weight: bold;
}

.app-header-big .app-title div , .app-header-big div , .review , .desc , .policy {
	font-size: 0.8em;
}

.app-header-big .app-desc {
	
}

body .tabs {
	overflow: hidden!important;
	width: 220px!important;
    position: relative;
    left: -10px;
}

body .tabs .tab {
	min-width: 20px!important;
}

.btn {
	margin-bottom: 5px;
}

.privacy-rate {
	width: 15px;
	height: 15px;
	display: inline-block;
    margin-left: 5px;
    background-image: url(../../img/critic.png);
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

body .privacy-rate-no {
	background-image: url(../../img/critic2.png);
}

.app-header {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 45px;
	line-height: 45px;
	background: #CD235C;
	padding: 0;
	color: #eee;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.app-footer {
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
	background: #444;
	padding: 0;
	border-top: 1px solid #444;
}

.app-content {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 0;
	right: 50%;
	overflow: auto;
}

.app-survey {
	position: absolute;
	z-index: 1;
	top: 0px;
	bottom: 0px;
	left: 50%;
	right: 0%;
	overflow: auto;
}

.app-content .phone {
	position: absolute;
	left: 50%;
	background-image: url(../../img/iphone.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
	margin-left: -160px;
	width: 320px;
	height: 600px;
}

.app-content .screen {
	padding: 10px;
	left: 50%;
	margin-left: -115px;
	top: 105px;;
	width: 235px;
	height: 435px;
	position: absolute;
	background-color: white;
	overflow-y: scroll;
	overflow-x: hidden;
}


html,
body {
  height: 100%;
  width: 100%;
  overflow: auto;
}